<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li class="active"><a href="/">Papa Johns</a></li>
<%- if user_signed_in? %>	
  <li class="active"><a href="/shoppings">Carro</a></li>
  <li class="active"><a href="/delivery_infos/new">Delivery</a></li>
<% else %>
<li class="active"><a href="/users/sign_up">sign up</a></li>
  <li class="active"><a href="/users/sign_in">sign in</a></li>
  
<% end %>
</ul>

</body>
  <body>
    <%= yield %>
  </body>



